<div class="jumbotron text-center">
   <h1>Buscar hotel</h1>
   <br/>
   <div class="form-horizontal form-group form-group-lg row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
       {{input type="number" value=hotel_id class="form-control" placeholder="ID Hotel" autofocus="autofocus"}}
     </div>
     <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
       <button class="btn btn-primary btn-lg btn-block" {{action 'saveInvitation'}} disabled={{isDisabled}}>Search</button>
     </div>
   </div>
   <div>
     <div>
       {{#if responseMessage}}
          <!-- {{link-to 'hotel' hotel_id}} -->
       {{/if}}
     </div>
   </div>
</div>

{{outlet}}
